.bootstrap-container {
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.register-login-link {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 80%;
   font-weight: 400;
}

.login-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: large;
}

.info-header {
    font-size: smaller;
}